<!-- login.component.html -->
<div class="container">
    <h2 id="notification-message">Log in bij de adminpagina van het memory spel</h2>
  
    <form id="form">
      <!-- <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
      </div> -->
  
      <div class="container">
        <label for="username"><b>Gebruikersnaam:</b></label>
        <input type="text" id="username" placeholder="Gebruikersnaam" name="username" required>
  
        <label for="password"><b>Wachtwoord:</b></label>
        <input type="password" id="password" placeholder="Wachtwoord" name="password" required>
  
        <p id="error-message" style="color: red; display: none;">Wachtwoord en/of gebruikersnaam onjuist!</p>
  
        <button #submitButton type="button" id="submit">Login</button>
      </div>
    </form>
  </div>
  