<h2>Players Overview</h2>
<div *ngIf="showPlayerOverview">
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of playerOverview; let i = index">
        <td>{{ player.username }}</td>
        <td>{{ player.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!showPlayerOverview && !playerOverview">
  <p class="loading-message">Loading players overview...</p>
</div>
<div *ngIf="playerOverview && playerOverview.length > 0">
  <button (click)="togglePlayerOverview()">Show/Hide Players Overview</button>
</div>
