<h2>Statistics</h2>
<div *ngIf="aggregatedData">
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aantal spellen:</td>
        <td>{{ aggregatedData[0].aantal_spellen }}</td>
      </tr>
      <tr>
        <td>Aantal spelers:</td>
        <td>{{ aggregatedData[1].aantal_spelers }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!aggregatedData">
  <p class="loading-message">Loading aggregated data...</p>
</div>